<h2><%= @user.name %>さんのページ</h2>

<p>email: <%= @user.email %></p>

<p class="to_other_page"><%= link_to '新しく投稿する', new_post_path, class:'to_other_page_txt' %></p>
<p><%= link_to "全ユーザーの投稿一覧", posts_path %></p>
