<h3>詳細画面</h3>

<p>Image:
  <%= image_tag(@post.image.url) if @post.image.present?  %>
  <%# ifがないと画像ない場合に表示エラーとなる %>
</p>

<p>本文： <%= @post.content %></p>

<%# <%= link_to "編集する", edit_post_path(post.id) %> %>
<p class="to_other_page"><%= link_to "全ユーザーの投稿", posts_path %></p>
